* {
  box-sizing: border-box;
}

body {
  background-color: #C0BABC;
  /*display: block;*/
  position: relative;
  height: 100vh;
}

h1, p {
  align-content: center;
}

p {
  font-family: sans-serif;
  font-size: 20px;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; 
}

#intro #quiz {
  width: 100%;
}

#logo {
  color: #E270A9;
  
}

.logo-box {
  width: 140px;
  margin: 10px auto;
}

.content {
  
}

#answers {
  margin-top: 20px;
}
.btn {
  background-color: #3C4859;
  color: white;
  max-width: 400px;
  margin: 0 auto 20px;
  white-space: normal;
}
  .btn:hover {
    color: white;
  }
.btn.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
.btn.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  #left_btn {
    margin-bottom: 20px;
  }

/*Quiz Section*/
.quiz-question {
  font-family: Garamond;
  font-size: 26px;
}

.answers {
  display: block;
}

/*#left-btn: {
  clear
}
#right-btn {
  float: right;
}*/
#quiz {
  width: 100%;
}

.header, .content {
  text-align:center;
}

/* Initial State */
/*every id that should be display: none on load*/

#question_number p, #score_box p, #question, #left_btn, #right_btn, #play_options, #next_question, #see_score, #result_headline, #result_message, #play_again, #see_answers {
  display: none;
  /*visibility: hidden;*/
}


/* Large desktops and laptops */
@media only screen and (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*.btn {
    margin-bottom: 20px;
  }*/
}

/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767px) {

}

/* Portrait phones and smaller */
@media only screen and (max-width: 480px) {

}



